{{link-to "index" "index"}}
<br><br>

<button {{action "transitionTo" "foo.bar"}}>foo.bar (broken)</button>
<br>
<button {{action "transitionTo" "one.two"}}>one.two (works)</button>

<br><br>

{{#if false}}
  {{link-to "foo.bar (broken)" "foo.bar"}}
  <br>
{{/if}}

{{link-to "one.two (works)" "one.two"}}
<br>

{{outlet}}